@font-face {
  font-family: "iconfont"; /* Project id 4459883 */
  src: url('iconfont.woff2?t=1709973247324') format('woff2'),
       url('iconfont.woff?t=1709973247324') format('woff'),
       url('iconfont.ttf?t=1709973247324') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuanfa:before {
  content: "\e627";
}

.icon-shoucang:before {
  content: "\e659";
}

.icon-toubi:before {
  content: "\e607";
}

.icon-zan:before {
  content: "\e61f";
}

